<h1>New Question</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for questions</p>
        <ul>
            <li>Make sure it rhymes.</li>
            <li>Don't use the letter "A".</li>
            <li>Hashtags of any kind will result in banishment.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <%= form_for @question do |q| %>
            <div class="form-group">
                <%= q.label :title %>
                <%= q.text_field :title, class: 'form-control', placeholder: "enter question title" %>
            </div>
            <div class="form-group">
                <%= q.label :body %>
                <%= q.text_area :body, rows: 8, class: 'form-control', placeholder: "enter question body" %>
            </div>
            <div class="form-group">
                <%= q.label :resolved %>
                <%= q.check_box :resolved %>
            </div>
            <div class="form-group">
                <%= f.submit "save", class: "btn btn-success" %>
            </div>
        <% end %>
    </div>
</div>